{% extends 'base.html' %}
{% block title %}Add Subject - QuizMaster{% endblock title %}
{% block body %}
<div><h1 class = "text-center" style="color: #07567d;" >Add Subject</h1></div>
<div class="container-fluid row justify-content-center">
    <form class = "col-5" action="/add_subject" method="POST">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Subject Name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="name">
        </div>
        <div class="mb-3">
            <label for="inputPassword5" class="form-label">Description</label>
            <input type="text" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" name="description">
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

    
{% endblock body %}