{% extends 'base.html' %}
{% block title %}Summary - QuizMaster{% endblock title %}
{% block body %}
<div><h1 class = "text-center" style="color:  #07567d;">Summary</h1></div>
<div class="container-fluid row justify-content-center">
    <div class="card border-primary m-5" style="width: 50rem;">
        <div class="card-body">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const chartdata = {{ chart | tojson }} ;
    const ctx = document.getElementById('myChart').getContext('2d');

    new Chart(ctx, {
        type: 'bar',
        data: chartdata,
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    max : 100,
                    ticks: {
                        stepSize: 10
                    }
                }
            }
        }
    });
</script>
{% endblock body %}

    
